<div class=read-more-container>

  <div class="readmore-primary-text">
  {{ content.tre_.tre_podstawowa }}
  </div>

  <div class="readmore-expanded-text">
   {{ content.tre_.tre_po_rozwini_ciu }}
  </div>
  <div style="margin-top: 8px;"></div>
  {{ macros.atomV1ButtonHtml(content.tre_.przycisk, 'rm-button', design.przycisk.button, 'text', 'content.tre_.przycisk.text') }}
</div>

