<div class="liked-icon liked-true">
  {{ content.like.not_liked_.svgCode }}
</div>
<div class="liked-icon liked-false">
  {{ content.like.liked.svgCode }}
</div>
<span class="like-counter">0</span>
